[submodule "Informations/Driver/BIGTREETECH-TMC2209-V1.2"]
	path = Informations/Driver/BIGTREETECH-TMC2209-V1.2
	url = https://github.com/bigtreetech/BIGTREETECH-TMC2209-V1.2.git
[submodule "Informations/Board/BIGTREETECH-SKR-PRO-V1.1"]
	path = Informations/Board/BIGTREETECH-SKR-PRO-V1.1
	url = https://github.com/bigtreetech/BIGTREETECH-SKR-PRO-V1.1.git
	fetchrecursesubmodules = true
[submodule "Informations/Display/BIGTREETECH-TouchScreenHardware"]
	path = Informations/Display/BIGTREETECH-TouchScreenHardware
	url = https://github.com/bigtreetech/BIGTREETECH-TouchScreenHardware.git
[submodule "Informations/Relay/BTT-Relay-V1.2"]
	path = Informations/Relay/BTT-Relay-V1.2
	url = https://github.com/bigtreetech/BIGTREETECH-Relay-V1.2.git
[submodule "Informations/Driver/SKR-PRO-V1.2-Stepper-Driver-Jumper-Configuration-Manual"]
	path = Informations/Driver/SKR-PRO-V1.2-Stepper-Driver-Jumper-Configuration-Manual
	url = https://github.com/GadgetAngel/SKR-PRO-V1.2-Stepper-Driver-Jumper-Configuration-Manual.git
[submodule "Firmware/Wifi_ESP-1s/ESP3D-WEBUI"]
	path = Firmware/Wifi_ESP-1s/ESP3D-WEBUI
	url = https://github.com/luc-github/ESP3D-WEBUI.git
[submodule "Firmware/Wifi_ESP-1s/ESP3D"]
	path = Firmware/Wifi_ESP-1s/ESP3D
	url = https://github.com/luc-github/ESP3D.git
[submodule "Firmware/Board/Marlin/btt_versions/Configurations"]
	path = Firmware/Board/Marlin/btt_versions/Configurations
	url = https://github.com/bigtreetech/Configurations.git
[submodule "Firmware/Board/Marlin/btt_versions/Marlin-bugfix"]
	path = Firmware/Board/Marlin/btt_versions/Marlin-bugfix
	url = https://github.com/bigtreetech/Marlin.git
[submodule "Firmware/Board/Marlin/Marlin_2.0.x-bugfix"]
	path = Firmware/Board/Marlin/Marlin_2.0.x-bugfix
	url = https://github.com/MarlinFirmware/Marlin.git
[submodule "Firmware/Board/Marlin/Configurations_2.0x-bugfix"]
	path = Firmware/Board/Marlin/Configurations_2.0x-bugfix
	url = https://github.com/MarlinFirmware/Configurations.git
[submodule "Software/Display/Addons/Bigtree3DPluginSuit"]
	path = Software/Display/Addons/Bigtree3DPluginSuit
	url = https://github.com/bigtreetech/Bigtree3DPluginSuit.git
[submodule "Firmware/Display/BIGTREETECH/TouchScreenFirmware"]
	path = Firmware/Display/BIGTREETECH/TouchScreenFirmware
	url = https://github.com/bigtreetech/BIGTREETECH-TouchScreenFirmware.git
[submodule "Informations/Expansions"]
	path = Informations/Expansions
	url = https://github.com/bigtreetech/BTT-Expansion-module.git
[submodule "Informations/UPS"]
	path = Informations/UPS
	url = https://github.com/bigtreetech/BIGTREETECH-MINI-UPS-V2.0.git
[submodule "Software/Biqu-Tool"]
	path = Software/Biqu-Tool
	url = https://github.com/bigtreetech/BiQU_Tool.git
[submodule "Informations/Display/Bigtreetech-OctoBTT"]
	path = Informations/Display/Bigtreetech-OctoBTT
	url = https://github.com/bigtreetech/OctoBTT.git
[submodule "Software/Probe/BlTouch-Tester"]
	path = Software/Probe/BlTouch-Tester
	url = https://github.com/jmcharg/BLTouch-Tester
[submodule "Software/Display/BigtreeDesignAssistant"]
	path = Software/Display/BigtreeDesignAssistant
	url = https://github.com/bigtreetech/BigtreeDesignAssistant.git
